{% macro context_form_field(field_id, data, disabled=False, display_value="") %}
<div class="form-floating">
  {% if disabled %}
  <select id="{{ field_id }}" class="form-select" name="{{ field_id }}" disabled>
    <option value="{{display_value}}" selected>{{ display_value }}</option>
  </select>
  <input
    id="{{ field_id }}"
    name="{{ field_id }}"
    type="hidden"
    value="{{display_value}}"
  />
  {% else %}
  <select id="{{ field_id }}" class="form-select" name="{{ field_id }}" required>
    <option value="" selected></option>
    {% for k, v in data['options'].items() %}
    <option value="{{ k }}">{{ v }}</option>
    {% endfor %}
  </select>
  {% endif%}
  <label for="{{ field_id }}">{{ data['label'] }}</label>
</div>

{% endmacro %} {% macro library_field(field_id, data) %}
<div class="form-floating">
  <select
    id="{{ field_id }}"
    class="form-select"
    name="{{ field_id }}"
    hx-get="/htmx/forms/collection"
    hx-target="#collection-wrapper"
    hx-trigger="change"
    required
  >
    <option value="" selected></option>
    {% for k, v in data["options"].items() %}
    <option value="{{ k }}">{{ v }}</option>
    {% endfor %}
  </select>
  <label for="{{ field_id }}">{{ data['label'] }}</label>
</div>

{% endmacro %}
