<div class="row g-4 py-5 row-cols-1 row-cols-lg-3"> 
    <div class="feature col"> 
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Get Bib</h5>
                <p class="card-text">Get bib record from Sierra</p>
                <a href="#" class="stretched-link"></a>
            </div>
        </div>
    </div> 
    <div class="feature col">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Process Vendor File</h5>
                <p class="card-text">Process files from a vendor</p>
                <a href="{{ url_for('vendor_file_page') }}" class="stretched-link"></a>
            </div>
        </div>        
    </div>
    <div class="feature col">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Worldcat2Sierra</h5>
                <p class="card-text">Search for Sierra records in WorldCat</p>
                <a href="#" class="stretched-link"></a>
            </div>
        </div>        
    </div>
</div>