<div class="row row-cols-1 gy-1 my-2">
  <div class="col">
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="file-source" value="local" hx-get="/htmx/upload-form" hx-target="#file-form" hx-swap="innerHTML">
      <label class="form-check-label" for="local">Local Upload</label>
    </div>
  </div>  
  <div class="col">
    <div class="form-check form-check-inline">  
      <input class="form-check-input" type="radio" name="file-source" value="remote" hx-get="/htmx/remote-file-form" hx-target="#file-form" hx-swap="innerHTML">
      <label class="form-check-label" for="remote">Remote Server</label>
    </div>
  </div>  
</div>  
<div id="file-form"></div>