<form hx-post="/htmx/load-remote-files" hx-target="#file-preview" hx-swap="innerHTML">
  <div class="row row-cols-5">
    {% for f in files %}
    <div class="col">
      <div class="form-check">
        <label>
          <input class="form-check-input" type="checkbox" style="color:  #d52828;" name="file" value="{{ f }}">{{ f }}
        </label><br>
      </div>  
    </div>
    {% endfor %}
    <input type="hidden" name="dir" value="{{ dir }}">
    <input type="hidden" name="vendor" value="{{ vendor }}">
  <button type="submit" class="btn" style="border-color: #d52828; border: border-3">Load Selected Files</button>  
  </div>
</form>
<div id="file-preview"></div>