<div class="row row-cols-1 gy-1 my-2">
  <form hx-get="/htmx/list-remote-files?vendor={{vendor}}" hx-target="#remote-files" hx-swap="innerHTML" hx-trigger="change" hx-indicator="loading-indicator">
    <div class="col">
      <div class="form-floating">
        <select class="form-select" aria-label="vendor" name="vendor", id="vendor">
            <option selected value=""></option>       
                {% for id, name in vendors.items() %}
                <option value="{{id}}">{{name}}</option>
                {%endfor%}
        </select>
        <label for="vendor">Vendor</label>
      </div>
      <label for="{{id}}">{{name}}</label>
  </form>
</div>
<div id="remote-files"></div>