<form hx-get="/htmx/list-remote-files?vendor={{vendor}}&dir={{dir}}" hx-target="#remote-files" hx-swap="innerHTML">
  <div class="col">
    <div class="form-floating">
      <select class="form-select" aria-label="vendor" name="vendor", id="vendor">
          <option selected value=""></option>       
              {% for id, name in vendors.items() %}
              <option value="{{id}}">{{name}}</option>
              {%endfor%}
      </select>
    </div>
    <label for="{{id}}">{{name}}</label>   
  <button type="submit" class="btn my-3" style="border-color: #d52828; border: border-3">List Files</button>        
  <!-- <div class="col">
    <div class="form-floating">
      <input type="text" class="form-control" name="dir">
      <label for="dir">File Directory</label>
    </div>
  <div class="col">
    <div class="form-floating">  
      <input type="hidden" class="form-control" name="vendor" value="">
      <label for="vendor">{{ vendor }}</label>
    </div>  
  </div>
  <button type="submit" class="btn my-3" style="border-color: #d52828; border: border-3">List Files</button> -->
</form>
<div id="remote-files"></div>