<div class="row gy-1 my-2">
  <div class="col">
    <h5>Order Data</h5>
    <div class="row">
      <div class="col">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            hx-get="/htmx/forms/templates"
            hx-target="#record-templates"
            name="template-source"
            type="checkbox"
            value="input"
          />
          <label class="form-check-label">Apply Template</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="record-templates" class="row"></div>
