<div class="row gy-1 my-2">  
    <div class="col">
        <h5>Order Template</h5>
        <div class="row"> 
            <div class="col">
                <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" name="template-source" value="input" hx-get="/htmx/forms/templates" hx-target="#record-templates" hx-swap="innerHTML">
                <label class="form-check-label">Apply Template</label>
                </div>
            </div>
        </div>                         
    </div>  
</div>
<div class="row" id="record-templates"></div> 