{% extends 'base.html' %}
{% import "context/macro.html" as macro %}
{% block header %}<h2>{{ page_title }}</h2>{% endblock %}
{% block content %}
<form hx-post="/api/process-vendor-file" hx-target="#pvf-output" hx-swap="innerHTML" id="pvf-form" hx-encoding="multipart/form-data">
  <div class="container text-left">
    <div class="row gy-1 my-2">    
      <div class="col">
        <div class="col" id="context-form" hx-get="/api/forms/disabled-context?library={{library}}&record_type={{record_type}}&collection={{collection}}" hx-trigger="load" hx-target="this" hx-swap="innerHTML"></div>
      </div> 
    </div>
    <div class="row gy-1 my-2">
      <div class="col" id="file-source" hx-get="/htmx/file-source" hx-trigger="load" hx-target="this"></div>
    </div>
    <div class="row gy-1 my-2">
      <div class="col" id="template-source" hx-get="/api/forms/template-source" hx-trigger="load" hx-target="this"></div>
    </div>     
    <div class="row gy-1 my-2">
      <div class="col">
        <div id="pvf-button" hx-get="/htmx/pvf-button" hx-trigger="load" hx-target="this"></div>
      </div>
      <div class="col">
        <div id="loading-spinner" class="spinner-border text-primary" role="status" style="display:none; width: 2rem; height: 2rem; margin-left: 10px;">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div> 
  </div>     
</form>  
<div id="pvf-output"></div>  
{% endblock %}