{% extends 'home.html' %}
{% import "macros.html" as macro %} 
{% block content %}
{% block library_context %}
<div class="container text-left"></div>
    <form method="post" action="/process">           
        {{ macro.context_fields(context_vals) }}  
    <button type="submit" class="btn my-3" style="border-color: #d52828; border: border-3">Continue</button>
    </form>
</div>    
{% endblock %}
{% block disabled_library_context %}
<div class="container text-left">
    <form>
    <fieldset disabled>
    {{ macro.disabled_context_fields(context_vals, selected_context) }}        
    </fieldset>
    </form>    
<a href="{{ url_for('vendor_file_page') }}" class="btn my-3" style="border-color: #d52828; border: border-3">Edit Library Context</a>
</div>
{% endblock %}
{% block pvf_form %}
<form onsubmit="submitForm(event)">    
    <div class="container text-left">                       
        <h5>Upload Local File(s)</h5>            
        <div class="row row-cols-2 gy-1 my-2">
            <div class="col">
                <input class="form-control" type="file" id="file" name="file">
            </div>
        </div>   
        <h5>Apply Template</h5>                   
        <div class="row row-cols-1 gy-1 my-2">   
        <div class="accordion" id="template_accordion">
            <div class="accordion-item">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-collapseOne" aria-expanded="false" aria-controls="accordion-collapseOne" style="background-color: white; color: black;">Enter Template Data</button>
                <div id="accordion-collapseOne" class="accordion-collapse collapse" data-bs-parent="#template_accordion">
                    <div class="accordion-body">
                    {{ macro.template_fields(field_constants) }}
                    </div>
                </div>
            </div>          
            <button type="submit" class="btn my-3" style="border-color: #d52828; border: border-3">Submit</button>
        </div>    
    </div>
</form>

<div id="output"></div> 
{% endblock %}
{% endblock %}