annotated-doc==0.0.3 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
anyio==4.7.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
bcrypt==4.3.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
bookops-bpl-solr @ git+https://github.com/BookOps-CAT/bookops-bpl-solr.git@5029881d83f83ea22c6d6bdbbb4b34e8f73b0d25 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
bookops-marc @ git+https://github.com/BookOps-CAT/bookops-marc.git@bc6a7388134b05c9736ea3f43f25c08d6623f902 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
bookops-nypl-platform @ git+https://github.com/BookOps-CAT/bookops-nypl-platform.git@372a8c8930eebd782c421021e8d637ce72b45692 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
bookops-worldcat==1.1.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
certifi==2024.8.30 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
cffi==1.17.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
charset-normalizer==3.4.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
click==8.1.7 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") and platform_system == "Windows" or python_version >= "3.12" and python_version < "4.0" and sys_platform == "win32" or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten") and platform_system == "Windows"
coverage==7.6.4 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
cryptography==45.0.4 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
debugpy==1.8.15 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
dnspython==2.7.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
email-validator==2.2.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
fastapi-cli==0.0.14 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
fastapi-cloud-cli==0.3.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
fastapi==0.120.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
file-retriever @ git+https://github.com/BookOps-CAT/file-retriever.git@6a04a9c5892f644b1a92698bd4d628555b07af61 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
google-api-core==2.29.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
google-api-python-client==2.188.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
google-auth-httplib2==0.3.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
google-auth-oauthlib==1.2.4 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
google-auth==2.47.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
googleapis-common-protos==1.72.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
greenlet==3.1.1 ; python_version >= "3.12" and python_version < "3.14" and (sys_platform == "win32" or sys_platform == "emscripten") and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") or python_version >= "3.12" and python_version < "3.14" and (sys_platform != "win32" and sys_platform != "emscripten") and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
h11==0.16.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
httpcore==1.0.9 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
httplib2==0.31.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
httptools==0.6.4 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
httpx==0.28.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
idna==3.10 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
iniconfig==2.0.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
jinja2==3.1.6 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
markdown-it-py==3.0.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
markupsafe==3.0.2 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
numpy==2.4.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
oauthlib==3.3.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
packaging==24.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pandas-stubs==2.3.3.260113 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pandas==3.0.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
paramiko==3.4.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pluggy==1.5.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
proto-plus==1.27.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
protobuf==6.33.4 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
psycopg2-binary==2.9.10 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pyasn1-modules==0.4.2 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pyasn1==0.6.2 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pycparser==2.22 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pydantic-core==2.27.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pydantic==2.10.3 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pygments==2.18.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pymarc==5.2.3 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pynacl==1.5.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pyparsing==3.3.2 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pytest-cov==6.0.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pytest-mock==3.14.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pytest==8.3.3 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
python-dotenv==1.0.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
python-multipart==0.0.20 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pyyaml==6.0.2 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
requests-oauthlib==2.0.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
requests==2.32.4 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
rich-toolkit==0.15.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
rich==13.9.4 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
rignore==0.7.2 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
rsa==4.9.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
sentry-sdk==2.43.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
shellingham==1.5.4 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
six==1.17.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
sniffio==1.3.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
sqlalchemy==2.0.40 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
sqlmodel==0.0.24 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
starlette==0.49.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
typer==0.15.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
types-paramiko==3.5.0.20250516 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
types-pytz==2025.2.0.20251108 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
types-pyyaml==6.0.12.20240917 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
types-requests==2.32.0.20241016 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
typing-extensions==4.12.2 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
tzdata==2025.3 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten")
uritemplate==4.2.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
urllib3==2.6.3 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
uvicorn==0.34.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
uvloop==0.21.0 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "cygwin") and platform_python_implementation != "PyPy"
watchfiles==1.0.3 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
websockets==14.1 ; python_version >= "3.12" and python_version < "4.0" and (sys_platform == "win32" or sys_platform == "emscripten") or python_version >= "3.12" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
