{% import "macros/context.html" as macro %}
<div class="col-9">
  <form id="context-form" action="/process" method="post">
    <div class="row">
      <div class="col" id="record_type_wrapper">
        {{ macro.context_form_field("record_type", context_fields["record_type"], disabled=False) }}
      </div>
      <div class="col" id="library_wrapper">{{ macro.library_field("library", context_fields["library"]) }}</div>
      <div class="col" id="collection-wrapper">
        {{ macro.context_form_field("collection", context_fields["collection"], disabled=True) }}
      </div>
    </div>
    <button class="btn btn-nypl" form="context-form" type="submit">Submit</button>
  </form>
</div>
