{% if file_source %}
  <div id="file_input" hx-swap-oob="true">
    {% if file_source == "remote" %}
      <div class="form-floating col-4">
        <select id="vendor"
                class="form-select"
                name="vendor"
                form="pvf-form"
                hx-get="/files/remote"
                hx-target="#file_list"
                hx-trigger="change">
          <option value="" selected></option>
          {% for id, name in vendors.items() %}<option value="{{ id }}">{{ name }}</option>{% endfor %}
        </select>
        <label for="vendor">Select Vendor</label>
      </div>
      <div id="file_list"></div>
    {% elif file_source == "local" %}
      <div class="col-6">
        <input id="local_files"
               form="pvf-form"
               class="form-control"
               name="local_files"
               type="file"
               multiple />
      </div>
    {% endif %}
  </div>
{% endif %}
