<h5>Select Files</h5>
<div class="row">
  <div class="col">
    <div class="form-floating">
      <select
        id="vendor"
        class="form-select"
        name="vendor"
        hx-get="/api/remote-files?vendor={{vendor}}"
        hx-indicator="loading-indicator"
        hx-target="#file-list"
        hx-trigger="change"
      >
        <option value="" selected></option>
        {% for id, name in vendors.items() %}
        <option value="{{id}}">{{name}}</option>
        {%endfor%}
      </select>
      <label for="vendor">Vendor</label>
    </div>
  </div>
</div>
<div id="file-list"></div>
