<div class="row row-cols-3">
  {% for file in files %}
    <div class="col">
      <div class="form-check">
        <input class="form-check-input"
               hx-post="/files/ftp/select?vendor={{ vendor }}"
               name="remote_file"
               style="color: #d52828"
               hx-target="#selected-files"
               type="checkbox"
               hx-include="#workflow_id, #vendor"
               form="pvf-form"
               value="{{ file }}" />
        <label class="form-check-label" for="{{ file }}">{{ file }}</label>
      </div>
    </div>
  {% endfor %}
  <input name="vendor" type="hidden" value="{{ vendor }}" />
</div>
