{% import "pvf_partials/macros.html" as macro %}
{{ macro.context_form_field("collection", context_fields["collection"],
disabled=disabled) }}
{% if collection %}
  <div id="collection-display" hx-swap-oob="true">
    <h3>{{ context_fields["collection"]['options'][collection] }}</h3>
  </div>
{% endif %}
{% if record_type %}
  <div id="record_type-display" hx-swap-oob="true">
    <h3>{{ context_fields["record_type"]['options'][record_type] }}</h3>
  </div>
{% endif %}
{% if library %}
  <div id="library-img" hx-swap-oob="true">
    <img src="{{ url_for('static', path='images/' ~ library ~ 'Logo.gif') }}"
         height="auto"
         width="auto"
         class="object-fit-scale"
         alt="library logo" />
  </div>
{% endif %}
