{% import "macros/pvf.html" as macro %}
<div class="context-block">
  <div class="d-flex flex-column flex-md-row gap-2"
       hx-get="/update-context?workflow=pvf"
       hx-trigger="change from:.context-block select, load"
       hx-include="closest .context-block"
       hx-swap="none">
    <div id="library-select" class="w-100">{{ macro.context_select("library", context_fields["library"]) }}</div>
    <div id="collection-select" class="w-100">{{ macro.context_select("collection", context_fields["collection"]) }}</div>
    <div id="record-type-select" class="w-100">{{ macro.context_select("record_type", context_fields["record_type"]) }}</div>
  </div>
</div>
