<input type="hidden"
       name="workflow_id"
       id="workflow_id"
       form="pvf-form"
       value="{{ workflow_id }}">
<div class="row p-3">
  <div class="col-4">
    <div class="card card-apps">
      <div class="card-body">
        <h5 class="card-title">Local Files</h5>
        <p class="text-muted">Upload from your computer</p>
        <input id="local_files"
               hx-post="/files/upload"
               hx-trigger="change"
               hx-target="#selected-files"
               hx-swap="outerHTML"
               hx-include="#workflow_id"
               class="form-control mb-3"
               name="file"
               type="file"
               hx-encoding="multipart/form-data"
               multiple />
        <div class="border rounded p-3 text-center bg-light">Drag & drop files here</div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <div class="card card-apps">
      <div class="card-body">
        <h5 class="card-title">FTP Files</h5>
        <p class="text-muted">Browse vendor files</p>
        <div class="form-floating col-6">
          <select id="vendor"
                  class="form-select"
                  name="vendor"
                  form="pvf-form"
                  hx-get="/files/remote"
                  hx-target="#file_list"
                  hx-trigger="change">
            <option value="" selected></option>
            {% for id, name in vendors.items() %}<option value="{{ id }}">{{ name }}</option>{% endfor %}
          </select>
          <label for="vendor">Vendors</label>
        </div>
        <div id="file_list"></div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card card-apps">
      <div class="card-body">
        <h5 class="card-title">Selected Files</h5>
        <div id="selected-files" hx-swap="outerHTML">{% include "pvf_partials/selected_files.html" %}</div>
      </div>
    </div>
  </div>
</div>
