{% macro collection_form_field(field_id, data, disabled=False, display_value="") %}
  <div class="form-floating">
    {% if disabled %}
      <select id="{{ field_id }}"
              class="form-select"
              name="{{ field_id }}"
              disabled>
        <option value="" selected></option>
      </select>
      <input id="{{ field_id }}"
             name="{{ field_id }}"
             type="hidden"
             form="pvf-form"
             value="" />
    {% else %}
      <select id="{{ field_id }}"
              class="form-select"
              name="{{ field_id }}"
              hx-get="/forms/update-collection"
              hx-trigger="change,load[collection.value !='']"
              hx-swap="none"
              form="pvf-form"
              required>
        <option value="" selected></option>
        {% for k, v in data['options'].items() %}<option value="{{ k }}">{{ v }}</option>{% endfor %}
      </select>
    {% endif %}
    <label for="{{ field_id }}">{{ data['label'] }}</label>
  </div>
{% endmacro %}
{% macro record_type_field(field_id, data) %}
  <div class="form-floating">
    <select id="{{ field_id }}"
            class="form-select"
            name="{{ field_id }}"
            hx-get="/forms/update-record-type"
            hx-trigger="change,load"
            form="pvf-form"
            hx-swap="none"
            required>
      <option value="" selected></option>
      {% for k, v in data['options'].items() %}<option value="{{ k }}">{{ v }}</option>{% endfor %}
    </select>
    <label for="{{ field_id }}">{{ data['label'] }}</label>
  </div>
{% endmacro %}
{% macro library_field(field_id, data) %}
  <div class="form-floating">
    <select id="{{ field_id }}"
            class="form-select"
            name="{{ field_id }}"
            hx-get="/forms/update-library"
            hx-target="#collection_wrapper"
            hx-trigger="change,load"
            form="pvf-form"
            required>
      <option value="" selected></option>
      {% for k, v in data["options"].items() %}<option value="{{ k }}">{{ v }}</option>{% endfor %}
    </select>
    <label for="{{ field_id }}">{{ data['label'] }}</label>
  </div>
{% endmacro %}
{% macro select_field(field_id, data, field_input) %}
  <div class="col">
    <div class="form-floating">
      <select id="{{ field_id }}"
              form="pvf-form"
              class="form-select"
              name="{{ field_id }}">
        {% if field_input %}
          <option value=""></option>
          <option value="{{ field_input }}" selected>{{ field_input }} ({{ data['options'][field_input] }})</option>
          {% for k, v in data['options'].items() %}
            {% if k != field_input %}<option value="{{ k }}">{{ k }} ({{ v }})</option>{% endif %}
          {% endfor %}
        {% else %}
          <option value="" selected></option>
          {% for k, v in data['options'].items() %}<option value="{{ k }}">{{ k }} ({{ v }})</option>{% endfor %}
        {% endif %}
      </select>
      <label for="{{ field_id }}">{{ data['label'] }}</label>
    </div>
  </div>
{% endmacro %}
{% macro input_field(field_id, data, field_input) %}
  <div class="col">
    <div class="form-floating">
      <input id="{{ field_id }}"
             class="form-control"
             name="{{ field_id }}"
             type="text"
             form="pvf-form"
             value="{{ field_input if field_input else value|e }}" />
      <label for="{{ field_id }}">{{ data['label'] }}</label>
    </div>
  </div>
{% endmacro %}
{% macro report_table(report) %}
  <table class="table table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        {% for key in report.keys() %}<th scope="col">{{ " ".join(key.title().split("_")) }}</th>{% endfor %}
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr>
        {% for i in range(report.values() | list | first | length) %}
          <tr>
            <th scope="row">{{ loop.index }}</th>
            {% for key in report.keys() %}<td>{{ report[key][i] }}</td>{% endfor %}
          </tr>
        {% endfor %}
      </tr>
    </tbody>
  </table>
{% endmacro %}
