<div class="row p-3">
  <div class="col">
    <div class="card card-apps">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <h5>Select order template</h5>
            <div id="templates"
                 hx-get="/ot/templates"
                 hx-trigger="load"
                 name="templates"></div>
          </div>
          <div class="vr"></div>
          <div class="col">
            <h5>Create/Update order template</h5>
            <div id="template-input">
              <div class="form-floating">
                <input class="btn-check"
                       hx-get="/ot/forms/templates"
                       hx-target="#template-form"
                       name="template-source"
                       value="input"
                       id="template-source"
                       hx-trigger="revealed" />
                <div id="template-form"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
