{% macro text_input(id, name) -%}
<div class="form-floating">
<input type="text" class="form-control" value="{{ value|e }}" name="{{ id }}" aria-label="{{ id }}" id="{{id}}">
<label for="{{id}}">{{name}}</label>
</div>
{%- endmacro %}

{% macro dropdown(id, name, values) -%}
<div class="form-floating">
<select class="form-select" aria-label="{{id}}" name="{{id}}", id="{{id}}">
    <option selected value=""></option>       
        {% for k, v in values.items() %}
        <option value="{{k}}">{{v}}</option>
        {%endfor%}
</select>
<label for="{{id}}">{{name}}</label>
</div>
{%- endmacro %}


{% macro template_fields(fields) -%}
{% for type,fields in fields.items()%}
    {% if type=="fixed_fields"%}
        <h5>Order Fixed Fields</h5>
    {% elif type=="var_fields"%}
        <h5>Order Variable Fields</h5>
    {% elif type=="matchpoints"%}
        <h5>Sierra Matchpoints</h5> 
    {%endif%}
    <div class="row row-cols-3 gy-1 my-2">
        {% for field in fields %}
        <div class="col">
            {% if "values" in field %}
                {{dropdown(field['id'], field['name'], field['values'])}}
            {%else%}
                {{text_input(field['id'], field['name'])}}    
            {%endif%}          
        </div> 
        {%endfor%} 
    </div>
{%endfor%}
{%- endmacro %}
