<!doctype html>
<title>{% block title %}{% endblock %} - Overload</title>
<link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
<nav>
  <h1><a href="{{ url_for('root') }}">{{ application }}</a></h1>
</nav>
<section class="apps">
    <header>
      {% block header %}{% endblock %}
    </header>
    <ul>
        <li><a href="{{ url_for('process_vendor_file') }}">Process Vendor File</a>
        <li><a href="{{ url_for('match_endpoint') }}">Match</a>            
    </ul>
    {% block content %}{% endblock %}
  </section>
