{% extends 'base.html' %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block title %}
    {{ super() }}
{% endblock %}
{% block nav %}
    {{ super() }}
{% endblock %}
{% block header %}Tools{% endblock %}  
{% block apps %}
  <h3>Process Vendor File</h3>
  Available tools:
  <ul>          
    <li>Attach</a>
    <li>Match</a>
    <li>Process File</a>
  </ul>
{% endblock %}

{% block content %}
{% endblock content %}
{%block footer%}
<p>
  Learn more about this application by visiting the <a href="{{ url_for('about') }}">About page</a>.
</p>
{%endblock%}