{% extends 'base.html' %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block title %}
    {{ super() }}
{% endblock %}
{% block nav %}
    {{ super() }}
{% endblock %}
{% block header %}Tools{% endblock %}  
{% block apps %}
  <h3><a href="{{ url_for('process_vendor_file') }}">Process Vendor File</a></h3>
  <ul>          
    <li><a href="{{ url_for('match_endpoint') }}">Match</a>
  </ul>
{% endblock %}

{% block content %}
{% endblock content %}
{%block footer%}
<p>
  Learn more about this application by visiting the <a href="{{ url_for('about') }}">About page</a>.
</p>
{%endblock%}