{% extends 'base.html' %} {% block header %}
<h2>{{ page_title }}</h2>
{% endblock %} {% block content %}
<form
  id="pvf-form"
  hx-post="/api/order-records/process-vendor-file"
  hx-encoding="multipart/form-data"
  hx-target="#pvf-output"
>
  <div class="container text-left">
    <div class="row gy-1 my-2">{% include "pvf_partials/pvf_context.html" %}</div>
    <div class="row gy-1 my-2">{% include "pvf_partials/file_source.html" %}</div>
    <div class="row gy-1 my-2">{% include "pvf_partials/template_source.html" %}</div>
    <div class="row gy-1 my-2">
      <div class="col">{% include "pvf_partials/pvf_button.html" %}</div>
    </div>
  </div>
</form>
<div id="pvf-output"></div>
{% endblock %}
