{% extends 'pvf_base.html' %} {% block content %} {% block pvf_body %}
<form
  id="pvf-form"
  hx-post="/api/order-records/process-vendor-file"
  hx-encoding="multipart/form-data"
  hx-target="#pvf_output"
>
  <!-- prettier ignore -->
  {% block pvf_context_source %}{% include "forms/disabled_context.html" %}{% endblock %}
  <!-- prettier ignore -->
  {% block pvf_file_source %}{%include "pvf_partials/file_source.html" %}{% endblock %}
  <!-- prettier ignore -->
  {% block pvf_template_source %}{% include "pvf_partials/template_source.html" %}{% endblock %}
  <!-- prettier ignore -->
  {% block pvf_button %}{{ super() }}{% endblock%}
</form>
{% endblock %}
<!-- prettier ignore -->
{% block pvf_output %}{{ super() }}{% endblock %}
<!-- prettier ignore -->
{% endblock %}
