{% extends 'pvf_base.html' %}
{% block form_start %}
  <form id="pvf-form"
        hx-post="/api/{{ record_type }}/process-vendor-file"
        hx-encoding="multipart/form-data"
        hx-target="#pvf_output">
  {% endblock %}
  {% block pvf_context_source %}
    {% include "forms/disabled_context.html" %}
  {% endblock %}
  {% block pvf_file_source %}
    {% include "pvf_partials/file_source.html" %}
  {% endblock %}
  {% block pvf_template_source %}
    {% if record_type != "cat" %}
      {% include "pvf_partials/template_source.html" %}
    {% endif %}
  {% endblock %}
  {% block pvf_button %}{{ super() }}{% endblock %}
  {% block form_end %}</form>{% endblock %}
