{% extends 'base.html' %}
{% block header %}<h2>{{ page_title }}</h2>{% endblock %}
{% block content %}
  <div class="grid">
    <div class="g-col-12">
      <div id="pvf-body-card" class="card card-apps">
        {% block pvf_body %}
          {% block form_tag %}<div id="pvf-form"></div>{% endblock %}
          <section class="context-section-card">
            {% block pvf_context_source %}
              {% include "pvf_partials/context_source.html" %}
            {% endblock %}
          </section>
          <section class="file-source-section">
            {% block pvf_file_source %}
              {% include "pvf_partials/file_source.html" %}
            {% endblock %}
          </section>
          <section class="template-source-section">
            {% block pvf_template_source %}<div id="template_source_swap"></div>{% endblock %}
          </section>
          <div id="pvf_output">
            {% block pvf_output %}{% endblock %}
            <div class="pvf-button-section">
              <div class="row p-3">
                <div class="col">
                  <button id="pvf-button" class="btn btn-nypl" form="pvf-form" type="submit">Process Vendor File</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
{% endblock %}
