{% extends 'base.html' %}
{% import "macros.html" as form %} 
{% block head %}
    {{ super() }}
{% endblock %}
{% block title %}
    {{ super() }}
{% endblock %}
{% block nav %}
    {{ super() }}
{% endblock %}
{% block header %}{{ page_title }}{% endblock %}  
{% block content %}
<form action="/vendor_file" method="post" enctype="multipart/form-data">
    <div class="container text-left"> 
        <h5>Order File</h5>            
        <div class="row row-cols-2 gy-1 my-2">
            <div class="col">
                <input class="form-control" type="file" id="marc_file" name="marc_file">
            </div>
        </div>              
        <div class="row row-cols-1 gy-1 my-2">   
        <h5>Apply Template</h5>
        <div class="accordion" id="template_accordion">
            <div class="accordion-item">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-collapseOne" aria-expanded="false" aria-controls="accordion-collapseOne" style="background-color: white; color: black;">Enter Template Data</button>
                <div id="accordion-collapseOne" class="accordion-collapse collapse" data-bs-parent="#template_accordion">
                    <div class="accordion-body">
                    {{ form.template_fields(field_constants) }}
                    </div>
                </div>
            </div>
            <button type="submit" class="btn my-3" style="border-color: #d52828; border: border-3">Submit</button>
        </div>    
    </div>
</form>

{% endblock %}  