{% extends 'base.html' %}
{% block header %}<h2>{{ page_title }}</h2>{% endblock %}
{% block content %}
    <section class="pvf-body">
        {% block pvf_body %}
            {% block form_start %}<form id="context-form" action="/process" method="post">{% endblock %}
                <section class="context-section">
                    {% block pvf_context_source %}
                        {% include "forms/context.html" %}
                    {% endblock %}
                </section>
                <section class="file-source-section">
                    {% block pvf_file_source %}{% endblock %}
                </section>
                <section class="template-source-section">
                    {% block pvf_template_source %}{% endblock %}
                </section>
                <section class="pvf-button-section">
                    {% block pvf_button %}{% endblock %}
                </section>
            {% endblock %}
            {% block form_end %}</form>{% endblock %}
    </section>
    <section class="reports">
        <div id="pvf_output">
            {% block pvf_output %}{% endblock %}
        </div>
    </section>
{% endblock %}
