{% import "context/macro.html" as macro %}
<div id="context-section" class="row gy-1 my-2">
  <div class="col-10">
    <div class="row">
      {% for field_id, field_data in context_fields.items() %} {{
      macro.disabled_field(field_id, field_data, context.get(field_id)) }} {%
      endfor %}
    </div>
    <div class="row">
      <div class="col">
        <a href="/process" class="btn my-3" style="border-color: #d52828"
          >Edit Library Context</a
        >
      </div>
    </div>
  </div>
  <div class="col">
    {% for k,v in context.items() %}
    <input id="{{ k }}" name="{{ k }}" type="hidden" value="{{ v }}" />
    {% endfor %}
    <div class="row" id="library-img">
      <img
        src="{{ url_for('static', path='images/{{context.library}}') }}"
        class="img-fluid"
      />
    </div>
  </div>
</div>
