{% import "context/macro.html" as macro %}
<div id="context-section" class="row gy-1 my-2">
  <div class="col">
    <div class="row">
      {% for field_id, field_data in context_fields.items() %} {{
      macro.select_field(field_id, field_data, context.get(field_id)) }} {%
      endfor %}
    </div>
    <div class="row">
      <div class="col">
        <button
          class="btn my-3"
          hx-get="/htmx/forms/context"
          hx-target="#context-form"
          style="border-color: #d52828"
        >
          Edit Library Context
        </button>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="row">
      <h3>Context Results</h3>
      {% for k,v in context.items() %}
      <input id="{{ k }}" name="{{ k }}" type="hidden" value="{{ v }}" />
      <ul>
        {{ k }}: {{ v }}
      </ul>
      {% endfor %}
    </div>
  </div>
</div>
