{% import "macros/wc2s.html" as macro %}
<div id="library-img" hx-swap-oob="true">
  {% if library %}
    <img src="{{ url_for('static', path='images/' ~ library ~ 'Logo.png') }}"
         height="auto"
         width="auto"
         class="object-fit-scale"
         alt="library logo" />
  {% endif %}
</div>
<div id="collection-display" class="mb-1" hx-swap-oob="true">
  {% if collection %}
    <h4>{{ context_fields["collection"]['options'][collection] }}</h4>
  {% endif %}
</div>
{% if collection_disabled or not collection %}
  <div id="collection-select" hx-swap-oob="true" class="w-100">
    {{ macro.context_select("collection", context_fields["collection"], disabled=collection_disabled) }}
  </div>
{% endif %}
