name: unit tests with coverage
on:
  pull_request:
    branches:
      - main
      - "releases/**"
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12", "3.13", "3.14"]
    steps:
      - uses: actions/checkout@v6
      - name: Install uv and set python version
        uses: astral-sh/setup-uv@v7
        with:
          python-version: ${{ matrix.python-version }}  
      - name: Run tests
        run: uv run --frozen pytest -m "not livetest" --cov=overload_web/
      - name: Send report to Coveralls
        uses: coverallsapp/github-action@v2
        with:
          parallel: true
          github-token: ${{ secrets.GITHUB_TOKEN}}
          fail-on-error: false

  finish:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        uses: coverallsapp/github-action@v2
        with:
          parallel-finished: true
          fail-on-error: false