name: unit tests
on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install Poetry with pipx
        run: pipx install poetry
      - name: Install dependencies with poetry
        run: poetry install --no-root
      - name: Run tests
        run: poetry run pytest -m "not livetest" --cov=overload_web/